page-login {

  .login-items {
      /*padding-left: 10px !important;*/
      padding-right: 15px !important;
  }

  .btn-login {  
    margin: 40px 10px 20px 10px !important;
    width: 94% !important;
    height: 50px !important;
  }
  .header-login {
    text-align: center;
  } 
  .header-login img {
    max-width: 200px;
    min-height: 115px;
    padding: 40px 0 0 0;
  }
}
