page-courses {

  .courses-items {
      padding-left: 10px !important;
      padding-right: 10px !important;
  }

  .btn-courses {  
    margin: 0px 10px 5px 10px !important;
    width: 94% !important;
    height: 45px !important;
    font-size: 15px !important;
  }
  .header-courses {
    text-align: center;
  } 
  .header-courses img {
    max-width: 200px;
    min-height: 115px;
    padding: 40px 0 0 0;
  }
  .courses-info p {
    font-size: 15px;
    color: #000000;
    text-align: center;
    padding: 5px;
  }
}
